DB_HOST=mysql_db
DB_PORT=3306
DB_USER=order_user
DB_PASSWORD=order_password
DB_NAME=order_db
MQ_HOST=rabbitmq
INCOMING_ORDER_QUEUE=order_created_queue
DLQ_EXCHANGE=order_dlx
DLQ_QUEUE=order_created_dlq
RETRY_QUEUE=order_retry_queue
MAX_RETRIES=3
OUTGOING_PROCESSED_TOPIC=order_processed_topic
